<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
function changeIntro() {
	var intro = document.getElementById('intro');
	intro.innerHTML = 'Hello............';
}

function jqueryIntro() {
	$('#intro').html('World............');
}

function jqueryServer() {
	$.ajax({
		url: '/hello',
		data: {"searchName": $('#searchName').val()},
		method: 'GET',
		dataType: 'json'
	})
	.done(function(json) {
		console.log('done');
		$('#users').empty();
		$.each(json, function(index, value) {
			$('#users').append('<li>'+ value +'</li>');
		});
	})
	.fail(function(xhr, status, errorThrown) {
		console.log('fail');		
	})
	.always(function(xhr, status) {
		console.log('always');
	});
}
</script>
</head>
<body>
	<p id="intro" class="intro">Hello World UI!</p>
	
	<button onclick="changeIntro();" title="Change">Change intro</button>
	<button onclick="jqueryIntro();" title="Change">제이쿼리 인트로</button>
	
	<p>Name ::: <span th:text="${name}"></span></p>
	<p>Age ::: <span th:text="${age11}">18</span></p>
	
	<p><a href="/helloUi2">helloUi2</a></p>
	
	<input type="text" id="searchName">
	
	<button onclick="jqueryServer();" title="Change">Jquery Server</button>
	
	<ul id="users">
	</ul>
</body>
</html>